body { outline-color: #2980b9 !important; }
article { outline-color: #3498db !important; }
nav { outline-color: #0088c3 !important; }
aside { outline-color: #33a0ce !important; }
section { outline-color: #66b8da !important; }
header { outline-color: #99cfe7 !important; }
footer { outline-color: #cce7f3 !important; }
h1 { outline-color: #162544 !important; }
h2 { outline-color: #314e6e !important; }
h3 { outline-color: #3e5e85 !important; }
h4 { outline-color: #449baf !important; }
h5 { outline-color: #c7d1cb !important; }
h6 { outline-color: #4371d0 !important; }
main { outline-color: #2f4f90 !important; }
address { outline-color: #1a2c51 !important; }
div { outline-color: #036cdb !important; }
p { outline-color: #ac050b !important; }
hr { outline-color: #ff063f !important; }
pre { outline-color: #850440 !important; }
blockquote { outline-color: #f1b8e7 !important; }
ol { outline-color: #ff050c !important; }
ul { outline-color: #d90416 !important; }
li { outline-color: #d90416 !important; }
dl { outline-color: #fd3427 !important; }
dt { outline-color: #ff0043 !important; }
dd { outline-color: #e80174 !important; }
figure { outline-color: #ff00bb !important; }
figcaption { outline-color: #bf0032 !important; }
button { outline-color: #da8301 !important; }
datalist { outline-color: #c06000 !important; }
fieldset { outline-color: #d95100 !important; }
form { outline-color: #d23600 !important; }
input { outline-color: #fca600 !important; }
keygen { outline-color: #b31e00 !important; }
label { outline-color: #ee8900 !important; }
legend { outline-color: #de6d00 !important; }
meter { outline-color: #e8630c !important; }
optgroup { outline-color: #b33600 !important; }
option { outline-color: #ff8a00 !important; }
output { outline-color: #ff9619 !important; }
progress { outline-color: #e57c00 !important; }
select { outline-color: #e26e0f !important; }
textarea { outline-color: #cc5400 !important; }
details { outline-color: #33848f !important; }
summary { outline-color: #60a1a6 !important; }
command { outline-color: #438da1 !important; }
menu { outline-color: #449da6 !important; }
del { outline-color: #bf0000 !important; }
ins { outline-color: #400000 !important; }
img { outline-color: #22746b !important; }
iframe { outline-color: #64a7a0 !important; }
embed { outline-color: #98daca !important; }
object { outline-color: #00cc99 !important; }
param { outline-color: #37ffc4 !important; }
video { outline-color: #6ee866 !important; }
audio { outline-color: #027353 !important; }
source { outline-color: #012426 !important; }
canvas { outline-color: #a2f570 !important; }
track { outline-color: #59a600 !important; }
map { outline-color: #7be500 !important; }
area { outline-color: #305900 !important; }
a { outline-color: #ff62ab !important; }
em { outline-color: #800b41 !important; }
strong { outline-color: #ff1583 !important; }
i { outline-color: #803156 !important; }
b { outline-color: #cc1169 !important; }
u { outline-color: #ff0430 !important; }
s { outline-color: #f805e3 !important; }
small { outline-color: #d107b2 !important; }
abbr { outline-color: #4a0263 !important; }
q { outline-color: #240018 !important; }
cite { outline-color: #64003c !important; }
dfn { outline-color: #b4005a !important; }
sub { outline-color: #dba0c8 !important; }
sup { outline-color: #cc0256 !important; }
time { outline-color: #d6606d !important; }
code { outline-color: #e04251 !important; }
kbd { outline-color: #5e001f !important; }
samp { outline-color: #9c0033 !important; }
var { outline-color: #d90047 !important; }
mark { outline-color: #ff0053 !important; }
bdi { outline-color: #bf3668 !important; }
bdo { outline-color: #6f1400 !important; }
ruby { outline-color: #ff7b93 !important; }
rt { outline-color: #ff2f54 !important; }
rp { outline-color: #803e49 !important; }
span { outline-color: #cc2643 !important; }
br { outline-color: #db687d !important; }
wbr { outline-color: #db175b !important; }

body, article, nav, aside, section, header, footer, h1, h2, h3, h4, h5, h6, main, address, div, p, hr, pre, blockquote, ol, ul, li, dl, dt, dd, figure, figcaption, button, datalist, fieldset, form, input, keygen, label, legend, meter, optgroup, option, output, progress, select, textarea, details, summary, command, menu, del, ins, img, iframe, embed, object, param, video, audio, source, canvas, track, map, area, a, em, strong, i, b, u, s, small, abbr, q, cite, dfn, sub, sup, time, code, kbd, samp, var, mark, bdi, bdo, ruby, rt, rp, span, br, wbr { 
	outline-width: 1px!important; outline-style: solid1px!important; 
}
