// You can put this in your variables file
$layout-debug: true;

// Color mapping
$color_map:
  
  /* Section elements : Blue */
  body        #2980B9,
  article     #3498DB,
  nav         #0088C3,
  aside       #33A0CE,
  section     #66B8DA,
  header      #99CFE7,
  footer      #CCE7F3,
  h1          #162544,
  h2          #314E6E,
  h3          #3E5E85,
  h4          #449BAF,
  h5          #C7D1CB,
  h6          #4371D0,
  main        #2F4F90,
  address     #1A2C51,
  div         #036CDB,

  /* Grouping Elements : Red */
  p           #AC050B,
  hr          #FF063F,
  pre         #850440,
  blockquote  #F1B8E7,
  ol          #FF050C,
  ul          #D90416,
  li          #D90416,
  dl          #FD3427,
  dt          #FF0043,
  dd          #E80174,
  figure      #FF00BB,
  figcaption  #BF0032,

  /* Tables :
  table       #00CC99,
  caption     #37FFC4,
  thead       #98DACA,
  tbody       #64A7A0,
  tfoot       #22746B,
  tr          #86C0B2,
  th          #A1E7D6,
  td          #3F5A54,
  col         #6C9A8F,
  colgroup    #6C9A9D,

  /* Forms : Orange */
  button      #DA8301,
  datalist    #C06000,
  fieldset    #D95100,
  form        #D23600,
  input       #FCA600,
  keygen      #B31E00,
  label       #EE8900,
  legend      #DE6D00,
  meter       #E8630C,
  optgroup    #B33600,
  option      #FF8A00,
  output      #FF9619,
  progress    #E57C00,
  select      #E26E0F,
  textarea    #CC5400,

  /* Interactive */
  details     #33848F,
  summary     #60A1A6,
  command     #438DA1,
  menu        #449DA6,

  /* Edits : Red */
  del         #BF0000,
  ins         #400000,

  /* Embedded : Green */
  img         #22746B,
  iframe      #64A7A0,
  embed       #98DACA,
  object      #00CC99,
  param       #37FFC4,
  video       #6EE866,
  audio       #027353,
  source      #012426,
  canvas      #A2F570,
  track       #59A600,
  map         #7BE500,
  area        #305900,

  /* Text Level : Pinks & Magentas */
  a           #FF62AB,
  em          #800B41,
  strong      #FF1583,
  i           #803156,
  b           #CC1169,
  u           #FF0430,
  s           #F805E3,
  small       #D107B2,
  abbr        #4A0263,
  q           #240018,
  cite        #64003C,
  dfn         #B4005A,
  sub         #DBA0C8,
  sup         #CC0256,
  time        #D6606D,
  code        #E04251,
  kbd         #5E001F,
  samp        #9C0033,
  var         #D90047,
  mark        #FF0053,
  bdi         #BF3668,
  bdo         #6F1400,
  ruby        #FF7B93,
  rt          #FF2F54,
  rp          #803E49,
  span        #CC2643,
  br          #DB687D,
  wbr         #DB175B;

// check if debug is enable (top variable)
@if $layout-debug == true {

  // Create a empty varaible
  $selectors: (null);

  // For each item in list
  @each $item in $color_map {

      // select first value (selector)
      #{nth($item, 1)} {

          // applay outline color with second value (color)
          outline-color: nth($item, 2)!important;
      }

      // Add the selector to the selectors list
      $selectors: append($selectors, unquote('#{nth($item, 1)}'), comma);
  }

  // Select all and apply default outline style
  #{$selectors} {
    outline-width: 1px!important; 
    outline-style: solid!important;
  }
}