/*
    pesticide v0.1.0 . @mrmrs . MIT
*/

$pesticide-debug-outline: true !default;
$pesticide-debug-depth: true !default;

@if $pesticide-debug-outline == true {
  body { outline: 1px solid #2980b9 !important; }
  article { outline: 1px solid #3498db !important; }
  nav { outline: 1px solid #0088c3 !important; }
  aside { outline: 1px solid #33a0ce !important; }
  section { outline: 1px solid #66b8da !important; }
  header { outline: 1px solid #99cfe7 !important; }
  footer { outline: 1px solid #cce7f3 !important; }
  h1 { outline: 1px solid #162544 !important; }
  h2 { outline: 1px solid #314e6e !important; }
  h3 { outline: 1px solid #3e5e85 !important; }
  h4 { outline: 1px solid #449baf !important; }
  h5 { outline: 1px solid #c7d1cb !important; }
  h6 { outline: 1px solid #4371d0 !important; }
  main { outline: 1px solid #2f4f90 !important; }
  address { outline: 1px solid #1a2c51 !important; }
  div { outline: 1px solid #036cdb !important; }
  p { outline: 1px solid #ac050b !important; }
  hr { outline: 1px solid #ff063f !important; }
  pre { outline: 1px solid #850440 !important; }
  blockquote { outline: 1px solid #f1b8e7 !important; }
  ol { outline: 1px solid #ff050c !important; }
  ul { outline: 1px solid #d90416 !important; }
  li { outline: 1px solid #d90416 !important; }
  dl { outline: 1px solid #fd3427 !important; }
  dt { outline: 1px solid #ff0043 !important; }
  dd { outline: 1px solid #e80174 !important; }
  figure { outline: 1px solid #ff00bb !important; }
  figcaption { outline: 1px solid #bf0032 !important; }
  table { outline: 1px solid #00cc99 !important; }
  caption { outline: 1px solid #37ffc4 !important; }
  thead { outline: 1px solid #98daca !important; }
  tbody { outline: 1px solid #64a7a0 !important; }
  tfoot { outline: 1px solid #22746b !important; }
  tr { outline: 1px solid #86c0b2 !important; }
  th { outline: 1px solid #a1e7d6 !important; }
  td { outline: 1px solid #3f5a54 !important; }
  col { outline: 1px solid #6c9a8f !important; }
  colgroup { outline: 1px solid #6c9a9d !important; }
  button { outline: 1px solid #da8301 !important; }
  datalist { outline: 1px solid #c06000 !important; }
  fieldset { outline: 1px solid #d95100 !important; }
  form { outline: 1px solid #d23600 !important; }
  input { outline: 1px solid #fca600 !important; }
  keygen { outline: 1px solid #b31e00 !important; }
  label { outline: 1px solid #ee8900 !important; }
  legend { outline: 1px solid #de6d00 !important; }
  meter { outline: 1px solid #e8630c !important; }
  optgroup { outline: 1px solid #b33600 !important; }
  option { outline: 1px solid #ff8a00 !important; }
  output { outline: 1px solid #ff9619 !important; }
  progress { outline: 1px solid #e57c00 !important; }
  select { outline: 1px solid #e26e0f !important; }
  textarea { outline: 1px solid #cc5400 !important; }
  details { outline: 1px solid #33848f !important; }
  summary { outline: 1px solid #60a1a6 !important; }
  command { outline: 1px solid #438da1 !important; }
  menu { outline: 1px solid #449da6 !important; }
  del { outline: 1px solid #bf0000 !important; }
  ins { outline: 1px solid #400000 !important; }
  img { outline: 1px solid #22746b !important; }
  iframe { outline: 1px solid #64a7a0 !important; }
  embed { outline: 1px solid #98daca !important; }
  object { outline: 1px solid #00cc99 !important; }
  param { outline: 1px solid #37ffc4 !important; }
  video { outline: 1px solid #6ee866 !important; }
  audio { outline: 1px solid #027353 !important; }
  source { outline: 1px solid #012426 !important; }
  canvas { outline: 1px solid #a2f570 !important; }
  track { outline: 1px solid #59a600 !important; }
  map { outline: 1px solid #7be500 !important; }
  area { outline: 1px solid #305900 !important; }
  a { outline: 1px solid #ff62ab !important; }
  em { outline: 1px solid #800b41 !important; }
  strong { outline: 1px solid #ff1583 !important; }
  i { outline: 1px solid #803156 !important; }
  b { outline: 1px solid #cc1169 !important; }
  u { outline: 1px solid #ff0430 !important; }
  s { outline: 1px solid #f805e3 !important; }
  small { outline: 1px solid #d107b2 !important; }
  abbr { outline: 1px solid #4a0263 !important; }
  q { outline: 1px solid #240018 !important; }
  cite { outline: 1px solid #64003c !important; }
  dfn { outline: 1px solid #b4005a !important; }
  sub { outline: 1px solid #dba0c8 !important; }
  sup { outline: 1px solid #cc0256 !important; }
  time { outline: 1px solid #d6606d !important; }
  code { outline: 1px solid #e04251 !important; }
  kbd { outline: 1px solid #5e001f !important; }
  samp { outline: 1px solid #9c0033 !important; }
  var { outline: 1px solid #d90047 !important; }
  mark { outline: 1px solid #ff0053 !important; }
  bdi { outline: 1px solid #bf3668 !important; }
  bdo { outline: 1px solid #6f1400 !important; }
  ruby { outline: 1px solid #ff7b93 !important; }
  rt { outline: 1px solid #ff2f54 !important; }
  rp { outline: 1px solid #803e49 !important; }
  span { outline: 1px solid #cc2643 !important; }
  br { outline: 1px solid #db687d !important; }
  wbr { outline: 1px solid #db175b !important; }
}

@if $pesticide-debug-depth == true {
  body { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(17,34,99,0.25) }
  article { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  nav { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  aside { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  section { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  header { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  footer { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  h1 { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  h2 { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  h3 { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  h4 { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  h5 { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  h6 { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  main { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  address { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  div { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  p { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  hr { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  pre { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  blockquote { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  ol { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  ul { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  li { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  dl { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  dt { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  dd { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  figure { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  figcaption { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  table { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  caption { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  thead { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  tbody { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  tfoot { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  tr { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  th { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  td { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  col { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  colgroup { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  button { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  datalist { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  fieldset { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  form { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  input { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  keygen { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  label { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  legend { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  meter { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  optgroup { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  option { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  output { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  progress { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  select { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  textarea { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  details { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  summary { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  command { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  menu { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  del { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  ins { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  img { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  iframe { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  embed { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  object { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  param { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  video { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  audio { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  source { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  canvas { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  track { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  map { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  area { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  a { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  em { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  strong { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  i { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  b { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  u { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  s { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  small { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  abbr { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  q { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  cite { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  dfn { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  sub { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  sup { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  time { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  code { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  kbd { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  samp { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  var { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  mark { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  bdi { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  bdo { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  ruby { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  rt { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  rp { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  span { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  br { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
  wbr { box-shadow: 0 0 1rem rgba(0,0,0,.6); background-color: rgba(255,255,255,0.25) }
}
