/*
    pesticide v1.0.0 . @mrmrs . MIT
*/

pesticide-debug-depth = true

if pesticide-debug-depth
  body
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  article
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  nav
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  aside
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  section
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  header
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  footer
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  h1
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  h2
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  h3
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  h4
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  h5
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  h6
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  main
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  address
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  div
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  p
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  hr
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  pre
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  blockquote
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  ol
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  ul
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  li
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  dl
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  dt
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  dd
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  figure
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  figcaption
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  table
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  caption
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  thead
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  tbody
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  tfoot
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  tr
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  th
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  td
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  col
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  colgroup
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  button
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  datalist
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  fieldset
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  form
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  input
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  keygen
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  label
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  legend
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  meter
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  optgroup
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  option
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  output
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  progress
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  select
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  textarea
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  details
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  summary
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  command
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  menu
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  del
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  ins
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  img
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  iframe
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  embed
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  object
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  param
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  video
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  audio
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  source
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  canvas
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  track
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  map
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  area
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  a
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  em
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  strong
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  i
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  b
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  u
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  s
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  small
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  abbr
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  q
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  cite
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  dfn
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  sub
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  sup
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  time
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  code
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  kbd
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  samp
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  var
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  mark
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  bdi
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  bdo
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  ruby
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  rt
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  rp
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  span
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  br
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
  wbr
    box-shadow: 0 0 1rem rgba(0,0,0,.6)
    background-color: rgba(255,255,255,0.25)
