$layout-debug: true; // You can put this in your variables file... or leave it here.
                     // If you set it to anything other than true, the outlines will
                     // disappear.

@if $layout-debug == true {
    $selector: a,  abbr, address, article, blockquote, caption, code, div, dl, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, img, input, label, legend, li, nav, ol, option, p, pre, progress, s, samp, sbd, section, select, code, small, span, sub, submit, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, var;
    $color: crimson,  aqua, aquamarine, blueviolet, cadetblue, cornflowerblue, coral, orchid, darkcyan, darkmagenta, darkorange, deeppink, gold, goldenrod, greenyellow, lavender, lightblue, lightcoral, lightcyan, lightgreen, lightsalmon, lightseagreen, lightskyblue, mediumaquamarine, mediumorchid, orangered, palevioletred, plum, purple, royalblue, tomato, turquoise, violet, yellow, sandybrown, brown, powderblue, palegreen, navy, mediumpurple, mediumslateblue, mintcream, mistyrose, moccasin, black, gray, dodgerblue, dimgray, deepskyblue, green, lightsteelblue, lightslategray, lime, limegreen, firebrick;
    #{$selector} { 
        outline-width: 1px; 
        outline-style: solid;
    }
    @for $i from 0 to length($selector) {
        #{nth($selector, ($i + 1))} {
            outline-color: nth($color, ($i + 1));
        }
    }
}
