/*

   Drop this in your css file to get insight into how elements are rendering.
   Useful for debugging layout issues. Outline is used instead of border as
   it doesn't add width to the elements (thus changing the layout).

   Helpul tips: Often times people forget that inline-block elements render
   the white-space between elements (this is also how inline elements render).


*/

a, abbr, address, article, blockquote, caption, code, div, dl, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, img, input, label, legend, li, nav, ol, option, p, pre, progress, s, samp, sbd, section, select, code, small, span, sub, submit, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, var {
   outline-width: 1px;
   outline-style: solid;
}

a { outline-color: crimson; }
abbr { outline-color: cyan; }
address { outline-color: aquamarine; }
article { outline-color: blueviolet; }
blockquote { outline-color: cadetblue; }
caption { outline-color: cornflowerblue; }
code { outline-color: coral; }
div { outline-color: orchid; }
dl { outline-color: darkcyan; }
fieldset { outline-color: darkmagenta; }
figcaption { outline-color: darkorange; }
figure { outline-color: deeppink; }
footer { outline-color: gold; }
form { outline-color: goldenrod; }
h1 { outline-color: greenyellow; }
h2 { outline-color: lavender; }
h3 { outline-color: lightblue; }
h4 { outline-color: lightcoral; }
h5 { outline-color: lightcyan; }
h6 { outline-color: lightgreen; }
header { outline-color: lightsalmon; }
hr { outline-color: lightseagreen; }
img { outline-color: lightskyblue; }
input { outline-color: mediumaquamarine; }
label { outline-color: mediumorchid; }
legend { outline-color: orangered; }
li { outline-color: palevioletred; }
nav { outline-color: plum; }
ol { outline-color: purple; }
option { outline-color: royalblue; }
p { outline-color: tomato; }
pre { outline-color: turquoise; }
progress { outline-color: violet; }
s { outline-color: yellow; }
samp { outline-color: sandybrown; }
sbd { outline-color: brown; }
section { outline-color: powderblue; }
select { outline-color: palegreen; }
code { outline-color: navy; }
small { outline-color: mediumpurple; }
span { outline-color: mediumslateblue; }
sub { outline-color: mintcream; }
submit { outline-color: mistyrose; }
sup { outline-color: moccasin; }
table { outline-color: black; }
tbody { outline-color: grey; }
td { outline-color: dodgerblue; }
textarea { outline-color: dimgrey; }
tfoot { outline-color: deepskyblue; }
th { outline-color: green; }
thead { outline-color: lightsteelblue; }
time { outline-color: lightslategrey; }
tr { outline-color: lime; }
ul { outline-color: limegreen; }
var { outline-color: firebrick; }

