<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Paul Molluzzo</string>
	<key>Builder Version</key>
	<string>9537.76.4</string>
	<key>CFBundleDisplayName</key>
	<string>Pesticide</string>
	<key>CFBundleIdentifier</key>
	<string>com.paulmolluzzo.safari.pesticideforsafari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>pesticide.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>toggle-pesticide</string>
				<key>Identifier</key>
				<string>pesticide</string>
				<key>Image</key>
				<string>Icon-16.png</string>
				<key>Label</key>
				<string>Pesticide</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>pesticide.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Adds Pesticide CSS to the current page for easier HTML/CSS debugging.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.githubusercontent.com/paulmolluzzo/pesticide/safari_extension/pesticide_for_safari.safariextension/update_manifest.plist</string>
	<key>Website</key>
	<string>https://github.com/mrmrs/pesticide</string>
</dict>
</plist>
